@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-50: 243 251 254;
  --color-primary-100: 231 246 253;
  --color-primary-200: 195 233 250;
  --color-primary-300: 159 219 246;
  --color-primary-400: 86 192 240;
  --color-primary-500: 14 165 233;
  --color-primary-600: 13 149 210;
  --color-primary-700: 8 99 140;
  --color-primary-800: 6 74 105;
  --color-primary-900: 4 50 70;

  --color-secondary-50: 247 248 249;
  --color-secondary-100: 240 241 243;
  --color-secondary-200: 216 220 226;
  --color-secondary-300: 193 199 209;
  --color-secondary-400: 147 158 174;
  --color-secondary-500: 100 116 139;
  --color-secondary-600: 90 104 125;
  --color-secondary-700: 60 70 83;
  --color-secondary-800: 45 52 63;
  --color-secondary-900: 30 35 42;

  --color-danger-50: 254 246 246;
  --color-danger-100: 253 236 236;
  --color-danger-200: 251 208 208;
  --color-danger-300: 249 180 180;
  --color-danger-400: 244 124 124;
  --color-danger-500: 239 68 68;
  --color-danger-600: 215 61 61;
  --color-danger-700: 143 41 41;
  --color-danger-800: 108 31 31;
  --color-danger-900: 72 20 20;
}

a {
  @apply text-primary-600;
}

a:hover {
  @apply text-primary-400;
}

code {
  @apply text-[#f87171] font-mono;
}

kbd {
  @apply px-1.5 py-0.5 text-xs font-semibold text-secondary-800 bg-secondary-100 border border-secondary-200 rounded-lg dark:bg-secondary-600 dark:text-secondary-100 dark:border-secondary-500;
}

.badge {
  @apply inline-flex items-center gap-x-1.5 rounded-full px-2.5 py-0.5 text-xs font-medium whitespace-nowrap select-none;
}

/* Text colors */
.text-heart {
  @apply text-[#ef4444];
}

.text-plus {
  @apply text-[#fcaf17];
}

/* Badge colors */
.badge-outline {
  @apply bg-transparent text-secondary-600 border border-secondary-600;
}

.dark .badge-outline {
  @apply text-secondary-400 border-secondary-400;
}

.badge-outline-plus {
  @apply bg-transparent text-[#fcaf17] border border-[#fcaf17];
}

.badge-primary {
  @apply bg-primary-700 text-white;
}

.badge-danger {
  @apply bg-danger-700 text-white;
}

.badge-plus {
  @apply bg-[#fcaf17] text-black;
}

.badge-gta {
  @apply bg-[#0369a1] text-white;
}

.badge-rp {
  @apply bg-[#1171df] text-white;
}

.badge-cash {
  @apply bg-[#539d55] text-white;
}

.badge-rdo {
  @apply bg-[#cc0000] text-white;
}

.badge-playstation {
  @apply bg-[#0b377b] text-white;
}

.badge-xbox {
  @apply bg-[#92c83e] text-black;
}

.badge-pc {
  @apply bg-[#ea991c] text-black;
}

/* Tweak the scroll bar. */
@media screen and (min-width: 640px) {
  ::-webkit-scrollbar {
    @apply w-4 h-4;
  }

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-corner {
    @apply bg-white;
  }

  .dark ::-webkit-scrollbar-track,
  .dark ::-webkit-scrollbar-corner {
    @apply bg-secondary-800;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-secondary-400 bg-clip-content border-4 border-solid border-transparent rounded-full;
  }

  .dark ::-webkit-scrollbar-thumb {
    @apply bg-secondary-700;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary-500;
  }

  .dark ::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary-500;
  }
}

/* Hide individual types of changes. */
.hide-added .jsondiffpatch-added,
.hide-deleted .jsondiffpatch-deleted,
.hide-modified .jsondiffpatch-modified,
.hide-unchanged .jsondiffpatch-unchanged,
.hide-meta .jsondiffpatch-tunable-meta {
  @apply !hidden;
}

/* Hide individual sections. */
.hide-content .jsondiffpatch-node[data-key="contentlists"],
.hide-content .jsondiffpatch-node[data-key^="CONTENT_MODIFIER"],
.hide-tunables .jsondiffpatch-node[data-key="tunables"] {
  @apply !hidden;
}

/* Hide individual keys. */
.hide-quick-view [data-key^="BGS_SpecialEvent"],
.hide-quick-view [data-key*="CAR_MEET_PRIZE_VEHICLE"],
.hide-quick-view [data-key$="CASH_STAMP_TYPE"],
.hide-quick-view [data-key*="CASINO_PRIZE_VEHICLE"],
.hide-quick-view [data-key*="DAILY_OBJECTIVE"],
.hide-quick-view [data-key*="FIXER_STUDIO_APPEARANCE"],
.hide-quick-view [data-key*="HSW_TEST_RIDE"],
.hide-quick-view [data-key*="HSW_TIME_TRIAL_SUBVARIATION"],
.hide-quick-view [data-key*="LUXURY_SHOWCASE_VEHICLE"],
.hide-quick-view [data-key*="PRIZE_VEHICLE_Z_OFFSET"],
.hide-quick-view [data-key*="PROMO_TEST_DRIVE_VEHICLE"],
.hide-quick-view [data-key*="SALV23_ROBBERY_VEHICLE"],
.hide-quick-view [data-key*="SALV23_VEH_ROBBERY_WEEK_ID"],
.hide-quick-view [data-key*="SALV23_VEHICLE_ROBBERY"],
.hide-quick-view [data-key*="SIMEON_TEST_DRIVE_VEHICLE"],
.hide-quick-view [data-key*="SOCIAL_CLUB_GARAGE_PRIZE_VEHICLE"],
.hide-quick-view [data-key*="SOCIAL_CLUB_GARAGE_VEHICLE"],
.hide-quick-view [data-key*="TIMETRIALVARIATION"],
.hide-quick-view [data-key^="VC_PEYOTE_"],
.hide-quick-view [data-key*="WEEKLY_OBJECTIVE"],
.hide-quick-view [data-key*="XM22_GUN_VAN_SLOT"],
.hide-quick-view [data-key*="XM22_GUN_VAN_STOCK_ID"],
.hide-quick-view [data-key$="XP_STAMP_TYPE"],
.hide-verbose [data-key="bonus"],
.hide-verbose [data-key*="0x8B7D3320"],
.hide-verbose [data-key*="BOOT_BUTTON_QUICK_MATCH_TYPE"],
.hide-verbose [data-key*="CURRENTVEHICLESALESSEASON"],
.hide-verbose [data-key*="CURRENTVEHICLESALESTUSEASON"],
.hide-verbose [data-key*="DISPLAY_SALES"],
.hide-verbose [data-key*="ELO_SEASON"],
.hide-verbose [data-key*="EVENT_END_DATE"],
.hide-verbose [data-key*="EVENT_MBSP"],
.hide-verbose [data-key*="EVENT_WKLY"],
.hide-verbose [data-key*="FM_CORONA"],
.hide-verbose [data-key*="FMCORONA"],
.hide-verbose [data-key*="GTAO_MEMBERSHIP_EVENT_ID"],
.hide-verbose [data-key*="GTAO_MEMBERSHIP_PERIOD_MESSAGE"],
.hide-verbose [data-key*="NEW_VC_PEYOTE_TEXT"],
.hide-verbose [data-key*="NPCFLOWINVITE"],
.hide-verbose [data-key*="PROFESIONALCORONA"],
.hide-verbose [data-key*="SALE_HASH_LABELS"],
.hide-verbose [data-key*="SALE_WEAPON_AMMO"],
.hide-verbose [data-key*="TUNABLE_VERSION"] {
  @apply !hidden;
}

/* Custom Float Vue tweaks. */
.v-popper--theme-tooltip .v-popper__inner {
  @apply py-1.5 px-3 bg-secondary-100 text-secondary-700 text-sm rounded-md leading-none shadow-md;
}

.dark .v-popper--theme-tooltip .v-popper__inner {
  @apply bg-secondary-900 text-secondary-300;
}

.v-popper--theme-tooltip .v-popper__arrow-outer {
  @apply border-secondary-100;
}

.dark .v-popper--theme-tooltip .v-popper__arrow-outer {
  @apply border-secondary-900;
}

/* Custom JSON diff patch tweaks. */
.jsondiffpatch-tunable-meta {
  @apply !ml-2 inline-block text-[#6e7781];
}

.dark .jsondiffpatch-tunable-meta {
  @apply !ml-2 inline-block text-[#8b949e];
}

.jsondiffpatch-tunable-meta:before {
  content: '// ';
}

.jsondiffpatch-delta {
  @apply p-0;
}

.jsondiffpatch-delta div,
.jsondiffpatch-delta li {
  @apply leading-4 my-px mx-0 whitespace-nowrap;
}

.jsondiffpatch-movedestination,
.jsondiffpatch-unchanged {
  @apply opacity-60;
}

.dark .jsondiffpatch-movedestination,
.dark .jsondiffpatch-unchanged {
  @apply opacity-80;
}

.jsondiffpatch-deleted .jsondiffpatch-property-name,
.jsondiffpatch-deleted::after,
.jsondiffpatch-deleted pre,
.jsondiffpatch-modified .jsondiffpatch-left-value pre,
.jsondiffpatch-textdiff-deleted {
  @apply bg-[#FF818266] text-[#1F2328] rounded-sm line-through;
}

.dark .jsondiffpatch-deleted .jsondiffpatch-property-name,
.dark .jsondiffpatch-deleted::after,
.dark .jsondiffpatch-deleted pre,
.dark .jsondiffpatch-modified .jsondiffpatch-left-value pre,
.dark .jsondiffpatch-textdiff-deleted {
  @apply bg-[#803030] text-[#c9d1d9] rounded-sm line-through;
}

.jsondiffpatch-added .jsondiffpatch-property-name,
.jsondiffpatch-added::after,
.jsondiffpatch-added .jsondiffpatch-value pre,
.jsondiffpatch-modified .jsondiffpatch-right-value pre,
.jsondiffpatch-textdiff-added {
  @apply bg-[#abf2bc] text-[#1F2328] rounded-sm;
}


.dark .jsondiffpatch-added .jsondiffpatch-property-name,
.dark .jsondiffpatch-added::after,
.dark .jsondiffpatch-added .jsondiffpatch-value pre,
.dark .jsondiffpatch-modified .jsondiffpatch-right-value pre,
.dark .jsondiffpatch-textdiff-added {
  @apply bg-[#1d572d] text-[#c9d1d9] rounded-sm;
}

.jsondiffpatch-property-name {
  @apply text-[#116329]
}

.dark .jsondiffpatch-property-name {
  @apply text-[#7ee787]
}

.jsondiffpatch-value {
  @apply text-[#0a3069];
}

.dark .jsondiffpatch-value {
  @apply text-[#a5d6ff];
}

.jsondiffpatch-child-node-type-object>.jsondiffpatch-property-name:after,
.jsondiffpatch-property-name:after,
.jsondiffpatch-value pre:after {
  @apply text-secondary-900;
}

.dark .jsondiffpatch-child-node-type-object>.jsondiffpatch-property-name:after,
.dark .jsondiffpatch-property-name:after,
.dark .jsondiffpatch-value pre:after {
  @apply text-secondary-50;
}

.jsondiffpatch-property-name:before {
  content: '"';
  @apply text-secondary-900;
}

.dark .jsondiffpatch-property-name:before {
  @apply text-secondary-50;
}

.jsondiffpatch-property-name:after {
  content: '": ';
}

.jsondiffpatch-child-node-type-array>.jsondiffpatch-property-name:after {
  content: '": [';
}

.jsondiffpatch-child-node-type-object>.jsondiffpatch-property-name:after {
  content: '": {';
}