@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-sky-600;
}

a:hover {
  @apply text-sky-400;
}

code {
  @apply text-red-400 font-mono;
}

.badge {
  @apply inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-medium whitespace-nowrap select-none;
}

/* Badge colors. */
.badge-outline {
  @apply bg-transparent text-slate-400 border border-slate-400;
}

.badge-primary {
  @apply bg-sky-700 text-white;
}

.badge-plus {
  @apply bg-yellow-700 text-white;
}

.badge-gta {
  @apply bg-sky-700 text-white;
}

.badge-rp {
  @apply bg-[#1171df] text-white;
}

.badge-cash {
  @apply bg-[#539d55] text-white;
}

.badge-rdo {
  @apply bg-[#cc0000] text-white;
}

.badge-playstation {
  @apply bg-[#0b377b] text-white;
}

.badge-xbox {
  @apply bg-[#92c83e] text-black;
}

.badge-pc {
  @apply bg-[#ea991c] text-black;
}

/* Tweak the scroll bar. */
@media screen and (min-width: 640px) {
  ::-webkit-scrollbar {
    @apply w-4 h-4;
  }
  
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-corner {
    @apply bg-slate-800;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-700 bg-clip-content border-4 border-solid border-transparent rounded-full;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-500;
  }  
}

/* Hide individual types of changes. */
.hide-added .jsondiffpatch-added,
.hide-deleted .jsondiffpatch-deleted,
.hide-modified .jsondiffpatch-modified,
.hide-unchanged .jsondiffpatch-unchanged {
  @apply hidden;
}

/* Hide individual keys. */
.hide-bonus [data-key="bonus"],
.hide-content [data-key="contentlists"],
.hide-tunables [data-key="tunables"],
.hide-verbose [data-key="8B7D3320"],
.hide-verbose [data-key*="FM_CORONA"],
.hide-verbose [data-key*="NPCFLOWINVITE"],
.hide-verbose [data-key*="SALE_HASH_LABELS"] {
  @apply hidden;
}

/* Custom Float Vue tweaks. */
.v-popper--theme-tooltip .v-popper__inner {
  @apply py-1.5 px-3 bg-slate-900 text-slate-300 text-sm rounded-md leading-none shadow-md;
}

.v-popper--theme-tooltip .v-popper__arrow-outer {
  @apply border-slate-900 shadow-md;
}

/* Custom JSON diff patch tweaks. */
.jsondiffpatch-delta {
  @apply p-0;
}

.jsondiffpatch-delta div,
.jsondiffpatch-delta li {
  @apply leading-4 my-px mx-0 whitespace-nowrap;
}

.jsondiffpatch-movedestination,
.jsondiffpatch-unchanged {
  @apply opacity-80;
}

.jsondiffpatch-deleted .jsondiffpatch-property-name,
.jsondiffpatch-deleted pre,
.jsondiffpatch-modified .jsondiffpatch-left-value pre,
.jsondiffpatch-textdiff-deleted {
  background: rgb(128, 48, 48);
  color: rgb(201, 209, 217);
  @apply rounded-sm;
}

.jsondiffpatch-added .jsondiffpatch-property-name,
.jsondiffpatch-added .jsondiffpatch-value pre,
.jsondiffpatch-modified .jsondiffpatch-right-value pre,
.jsondiffpatch-textdiff-added {
  background: rgb(29, 87, 45);
  color: rgb(201, 209, 217);
  @apply rounded-sm;
}

.jsondiffpatch-property-name {
  color: rgb(126, 231, 135);
}

.jsondiffpatch-value {
  color: rgb(165, 214, 255);
}

.jsondiffpatch-child-node-type-object>.jsondiffpatch-property-name:after,
.jsondiffpatch-property-name:after,
.jsondiffpatch-value pre:after {
  @apply text-white;
}

.jsondiffpatch-property-name:before {
  content: '"';
  @apply text-white;
}

.jsondiffpatch-property-name:after {
  content: '": ';
}

.jsondiffpatch-child-node-type-array>.jsondiffpatch-property-name:after {
  content: '": [';
}

.jsondiffpatch-child-node-type-object>.jsondiffpatch-property-name:after {
  content: '": {';
}